<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA_Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    <link rel="stylesheet" href="{{ "assets/css/style.css" | relative_url }}">
    
    <link rel="icon" href="https://raw.githubusercontent.com/InsanityBot/bot.insanity.host/main/insanity-bot-logo.png" type="image/x-icon">
    <meta property="og:image" content="https://raw.githubusercontent.com/InsanityBot/bot.insanity.host/main/insanity-bot-logo.png">

    <meta name="theme-color" content="#ff6347">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    {%- include custom-head.html -%}
</head>